temp_unzip_path/yob1880.txt
temp_unzip_path/yob1881.txt
temp_unzip_path/yob1882.txt
temp_unzip_path/yob1883.txt
temp_unzip_path/yob1884.txt
temp_unzip_path/yob1885.txt
temp_unzip_path/yob1886.txt
temp_unzip_path/yob1887.txt
temp_unzip_path/yob1888.txt
temp_unzip_path/yob1889.txt
temp_unzip_path/yob1890.txt
temp_unzip_path/yob1891.txt
temp_unzip_path/yob1892.txt
temp_unzip_path/yob1893.txt
temp_unzip_path/yob1894.txt
temp_unzip_path/yob1895.txt
temp_unzip_path/yob1896.txt
temp_unzip_path/yob1897.txt
temp_unzip_path/yob1898.txt
temp_unzip_path/yob1899.txt
temp_unzip_path/yob1900.txt
temp_unzip_path/yob1901.txt
temp_unzip_path/yob1902.txt
temp_unzip_path/yob1903.txt
temp_unzip_path/yob1904.txt
temp_unzip_path/yob1905.txt
temp_unzip_path/yob1906.txt
temp_unzip_path/yob1907.txt
temp_unzip_path/yob1908.txt
temp_unzip_path/yob1909.txt
temp_unzip_path/yob1910.txt
temp_unzip_path/yob1911.txt
temp_unzip_path/yob1912.txt
temp_unzip_path/yob1913.txt
temp_unzip_path/yob1914.txt
temp_unzip_path/yob1915.txt
temp_unzip_path/yob1916.txt
temp_unzip_path/yob1917.txt
temp_unzip_path/yob1918.txt
temp_unzip_path/yob1919.txt
temp_unzip_path/yob1920.txt
temp_unzip_path/yob1921.txt
temp_unzip_path/yob1922.txt
temp_unzip_path/yob1923.txt
temp_unzip_path/yob1924.txt
temp_unzip_path/yob1925.txt
temp_unzip_path/yob1926.txt
temp_unzip_path/yob1927.txt
temp_unzip_path/yob1928.txt
temp_unzip_path/yob1929.txt
temp_unzip_path/yob1930.txt
temp_unzip_path/yob1931.txt
temp_unzip_path/yob1932.txt
temp_unzip_path/yob1933.txt
temp_unzip_path/yob1934.txt
temp_unzip_path/yob1935.txt
temp_unzip_path/yob1936.txt
temp_unzip_path/yob1937.txt
temp_unzip_path/yob1938.txt
temp_unzip_path/yob1939.txt
temp_unzip_path/yob1940.txt
temp_unzip_path/yob1941.txt
temp_unzip_path/yob1942.txt
temp_unzip_path/yob1943.txt
temp_unzip_path/yob1944.txt
temp_unzip_path/yob1945.txt
temp_unzip_path/yob1946.txt
temp_unzip_path/yob1947.txt
temp_unzip_path/yob1948.txt
temp_unzip_path/yob1949.txt
temp_unzip_path/yob1950.txt
temp_unzip_path/yob1951.txt
temp_unzip_path/yob1952.txt
temp_unzip_path/yob1953.txt
temp_unzip_path/yob1954.txt
temp_unzip_path/yob1955.txt
temp_unzip_path/yob1956.txt
temp_unzip_path/yob1957.txt
temp_unzip_path/yob1958.txt
temp_unzip_path/yob1959.txt
temp_unzip_path/yob1960.txt
temp_unzip_path/yob1961.txt
temp_unzip_path/yob1962.txt
temp_unzip_path/yob1963.txt
temp_unzip_path/yob1964.txt
temp_unzip_path/yob1965.txt
temp_unzip_path/yob1966.txt
temp_unzip_path/yob1967.txt
temp_unzip_path/yob1968.txt
temp_unzip_path/yob1969.txt
temp_unzip_path/yob1970.txt
temp_unzip_path/yob1971.txt
temp_unzip_path/yob1972.txt
temp_unzip_path/yob1973.txt
temp_unzip_path/yob1974.txt
temp_unzip_path/yob1975.txt
temp_unzip_path/yob1976.txt
temp_unzip_path/yob1977.txt
temp_unzip_path/yob1978.txt
temp_unzip_path/yob1979.txt
temp_unzip_path/yob1980.txt
temp_unzip_path/yob1981.txt
temp_unzip_path/yob1982.txt
temp_unzip_path/yob1983.txt
temp_unzip_path/yob1984.txt
temp_unzip_path/yob1985.txt
temp_unzip_path/yob1986.txt
temp_unzip_path/yob1987.txt
temp_unzip_path/yob1988.txt
temp_unzip_path/yob1989.txt
temp_unzip_path/yob1990.txt
temp_unzip_path/yob1991.txt
temp_unzip_path/yob1992.txt
temp_unzip_path/yob1993.txt
temp_unzip_path/yob1994.txt
temp_unzip_path/yob1995.txt
temp_unzip_path/yob1996.txt
temp_unzip_path/yob1997.txt
temp_unzip_path/yob1998.txt
temp_unzip_path/yob1999.txt
temp_unzip_path/yob2000.txt
temp_unzip_path/yob2001.txt
temp_unzip_path/yob2002.txt
temp_unzip_path/yob2003.txt
temp_unzip_path/yob2004.txt
temp_unzip_path/yob2005.txt
temp_unzip_path/yob2006.txt
temp_unzip_path/yob2007.txt
temp_unzip_path/yob2008.txt
temp_unzip_path/yob2009.txt
temp_unzip_path/yob2010.txt
temp_unzip_path/yob2011.txt
temp_unzip_path/yob2012.txt
temp_unzip_path/yob2013.txt
temp_unzip_path/yob2014.txt
temp_unzip_path/yob2015.txt
temp_unzip_path/yob2016.txt
temp_unzip_path/yob2017.txt
temp_unzip_path/yob2018.txt
temp_unzip_path/yob2019.txt
temp_unzip_path/yob2020.txt
temp_unzip_path/yob2021.txt
temp_unzip_path/yob2022.txt
state_unzip_path/STATE.AK.TXT
state_unzip_path/STATE.AL.TXT
state_unzip_path/STATE.AR.TXT
state_unzip_path/STATE.AZ.TXT
state_unzip_path/STATE.CA.TXT
state_unzip_path/STATE.CO.TXT
state_unzip_path/STATE.CT.TXT
state_unzip_path/STATE.DC.TXT
state_unzip_path/STATE.DE.TXT
state_unzip_path/STATE.FL.TXT
state_unzip_path/STATE.GA.TXT
state_unzip_path/STATE.HI.TXT
state_unzip_path/STATE.IA.TXT
state_unzip_path/STATE.ID.TXT
state_unzip_path/STATE.IL.TXT
state_unzip_path/STATE.IN.TXT
state_unzip_path/STATE.KS.TXT
state_unzip_path/STATE.KY.TXT
state_unzip_path/STATE.LA.TXT
state_unzip_path/STATE.MA.TXT
state_unzip_path/STATE.MD.TXT
state_unzip_path/STATE.ME.TXT
state_unzip_path/STATE.MI.TXT
state_unzip_path/STATE.MN.TXT
state_unzip_path/STATE.MO.TXT
state_unzip_path/STATE.MS.TXT
state_unzip_path/STATE.MT.TXT
state_unzip_path/STATE.NC.TXT
state_unzip_path/STATE.ND.TXT
state_unzip_path/STATE.NE.TXT
state_unzip_path/STATE.NH.TXT
state_unzip_path/STATE.NJ.TXT
state_unzip_path/STATE.NM.TXT
state_unzip_path/STATE.NV.TXT
state_unzip_path/STATE.NY.TXT
state_unzip_path/STATE.OH.TXT
state_unzip_path/STATE.OK.TXT
state_unzip_path/STATE.OR.TXT
state_unzip_path/STATE.PA.TXT
state_unzip_path/STATE.RI.TXT
state_unzip_path/STATE.SC.TXT
state_unzip_path/STATE.SD.TXT
state_unzip_path/STATE.TN.TXT
state_unzip_path/STATE.TX.TXT
state_unzip_path/STATE.UT.TXT
state_unzip_path/STATE.VA.TXT
state_unzip_path/STATE.VT.TXT
state_unzip_path/STATE.WA.TXT
state_unzip_path/STATE.WI.TXT
state_unzip_path/STATE.WV.TXT
state_unzip_path/STATE.WY.TXT
state_unzip_path/StateReadMe.pdf
national_unzip_path/yob1880.txt
national_unzip_path/yob1881.txt
national_unzip_path/yob1882.txt
national_unzip_path/yob1883.txt
national_unzip_path/yob1884.txt
national_unzip_path/yob1885.txt
national_unzip_path/yob1886.txt
national_unzip_path/yob1887.txt
national_unzip_path/yob1888.txt
national_unzip_path/yob1889.txt
national_unzip_path/yob1890.txt
national_unzip_path/yob1891.txt
national_unzip_path/yob1892.txt
national_unzip_path/yob1893.txt
national_unzip_path/yob1894.txt
national_unzip_path/yob1895.txt
national_unzip_path/yob1896.txt
national_unzip_path/yob1897.txt
national_unzip_path/yob1898.txt
national_unzip_path/yob1899.txt
national_unzip_path/yob1900.txt
national_unzip_path/yob1901.txt
national_unzip_path/yob1902.txt
national_unzip_path/yob1903.txt
national_unzip_path/yob1904.txt
national_unzip_path/yob1905.txt
national_unzip_path/yob1906.txt
national_unzip_path/yob1907.txt
national_unzip_path/yob1908.txt
national_unzip_path/yob1909.txt
national_unzip_path/yob1910.txt
national_unzip_path/yob1911.txt
national_unzip_path/yob1912.txt
national_unzip_path/yob1913.txt
national_unzip_path/yob1914.txt
national_unzip_path/yob1915.txt
national_unzip_path/yob1916.txt
national_unzip_path/yob1917.txt
national_unzip_path/yob1918.txt
national_unzip_path/yob1919.txt
national_unzip_path/yob1920.txt
national_unzip_path/yob1921.txt
national_unzip_path/yob1922.txt
national_unzip_path/yob1923.txt
national_unzip_path/yob1924.txt
national_unzip_path/yob1925.txt
national_unzip_path/yob1926.txt
national_unzip_path/yob1927.txt
national_unzip_path/yob1928.txt
national_unzip_path/yob1929.txt
national_unzip_path/yob1930.txt
national_unzip_path/yob1931.txt
national_unzip_path/yob1932.txt
national_unzip_path/yob1933.txt
national_unzip_path/yob1934.txt
national_unzip_path/yob1935.txt
national_unzip_path/yob1936.txt
national_unzip_path/yob1937.txt
national_unzip_path/yob1938.txt
national_unzip_path/yob1939.txt
national_unzip_path/yob1940.txt
national_unzip_path/yob1941.txt
national_unzip_path/yob1942.txt
national_unzip_path/yob1943.txt
national_unzip_path/yob1944.txt
national_unzip_path/yob1945.txt
national_unzip_path/yob1946.txt
national_unzip_path/yob1947.txt
national_unzip_path/yob1948.txt
national_unzip_path/yob1949.txt
national_unzip_path/yob1950.txt
national_unzip_path/yob1951.txt
national_unzip_path/yob1952.txt
national_unzip_path/yob1953.txt
national_unzip_path/yob1954.txt
national_unzip_path/yob1955.txt
national_unzip_path/yob1956.txt
national_unzip_path/yob1957.txt
national_unzip_path/yob1958.txt
national_unzip_path/yob1959.txt
national_unzip_path/yob1960.txt
national_unzip_path/yob1961.txt
national_unzip_path/yob1962.txt
national_unzip_path/yob1963.txt
national_unzip_path/yob1964.txt
national_unzip_path/yob1965.txt
national_unzip_path/yob1966.txt
national_unzip_path/yob1967.txt
national_unzip_path/yob1968.txt
national_unzip_path/yob1969.txt
national_unzip_path/yob1970.txt
national_unzip_path/yob1971.txt
national_unzip_path/yob1972.txt
national_unzip_path/yob1973.txt
national_unzip_path/yob1974.txt
national_unzip_path/yob1975.txt
national_unzip_path/yob1976.txt
national_unzip_path/yob1977.txt
national_unzip_path/yob1978.txt
national_unzip_path/yob1979.txt
national_unzip_path/yob1980.txt
national_unzip_path/yob1981.txt
national_unzip_path/yob1982.txt
national_unzip_path/yob1983.txt
national_unzip_path/yob1984.txt
national_unzip_path/yob1985.txt
national_unzip_path/yob1986.txt
national_unzip_path/yob1987.txt
national_unzip_path/yob1988.txt
national_unzip_path/yob1989.txt
national_unzip_path/yob1990.txt
national_unzip_path/yob1991.txt
national_unzip_path/yob1992.txt
national_unzip_path/yob1993.txt
national_unzip_path/yob1994.txt
national_unzip_path/yob1995.txt
national_unzip_path/yob1996.txt
national_unzip_path/yob1997.txt
national_unzip_path/yob1998.txt
national_unzip_path/yob1999.txt
national_unzip_path/yob2000.txt
national_unzip_path/yob2001.txt
national_unzip_path/yob2002.txt
national_unzip_path/yob2003.txt
national_unzip_path/yob2004.txt
national_unzip_path/yob2005.txt
national_unzip_path/yob2006.txt
national_unzip_path/yob2007.txt
national_unzip_path/yob2008.txt
national_unzip_path/yob2009.txt
national_unzip_path/yob2010.txt
national_unzip_path/yob2011.txt
national_unzip_path/yob2012.txt
national_unzip_path/yob2013.txt
national_unzip_path/yob2014.txt
national_unzip_path/yob2015.txt
national_unzip_path/yob2016.txt
national_unzip_path/yob2017.txt
national_unzip_path/yob2018.txt
national_unzip_path/yob2019.txt
national_unzip_path/yob2020.txt
national_unzip_path/yob2021.txt
national_unzip_path/yob2022.txt
namesbystate/STATE.AK.TXT
namesbystate/STATE.AL.TXT
namesbystate/STATE.AR.TXT
namesbystate/STATE.AZ.TXT
namesbystate/STATE.CA.TXT
namesbystate/STATE.CO.TXT
namesbystate/STATE.CT.TXT
namesbystate/STATE.DC.TXT
namesbystate/STATE.DE.TXT
namesbystate/STATE.FL.TXT
namesbystate/STATE.GA.TXT
namesbystate/STATE.HI.TXT
namesbystate/STATE.IA.TXT
namesbystate/STATE.ID.TXT
namesbystate/STATE.IL.TXT
namesbystate/STATE.IN.TXT
namesbystate/STATE.KS.TXT
namesbystate/STATE.KY.TXT
namesbystate/STATE.LA.TXT
namesbystate/STATE.MA.TXT
namesbystate/STATE.MD.TXT
namesbystate/STATE.ME.TXT
namesbystate/STATE.MI.TXT
namesbystate/STATE.MN.TXT
namesbystate/STATE.MO.TXT
namesbystate/STATE.MS.TXT
namesbystate/STATE.MT.TXT
namesbystate/STATE.NC.TXT
namesbystate/STATE.ND.TXT
namesbystate/STATE.NE.TXT
namesbystate/STATE.NH.TXT
namesbystate/STATE.NJ.TXT
namesbystate/STATE.NM.TXT
namesbystate/STATE.NV.TXT
namesbystate/STATE.NY.TXT
namesbystate/STATE.OH.TXT
namesbystate/STATE.OK.TXT
namesbystate/STATE.OR.TXT
namesbystate/STATE.PA.TXT
namesbystate/STATE.RI.TXT
namesbystate/STATE.SC.TXT
namesbystate/STATE.SD.TXT
namesbystate/STATE.TN.TXT
namesbystate/STATE.TX.TXT
namesbystate/STATE.UT.TXT
namesbystate/STATE.VA.TXT
namesbystate/STATE.VT.TXT
namesbystate/STATE.WA.TXT
namesbystate/STATE.WI.TXT
namesbystate/STATE.WV.TXT
namesbystate/STATE.WY.TXT
namesbystate/StateReadMe.pdf
names/yob1880.txt
names/yob1881.txt
names/yob1882.txt
names/yob1883.txt
names/yob1884.txt
names/yob1885.txt
names/yob1886.txt
names/yob1887.txt
names/yob1888.txt
names/yob1889.txt
names/yob1890.txt
names/yob1891.txt
names/yob1892.txt
names/yob1893.txt
names/yob1894.txt
names/yob1895.txt
names/yob1896.txt
names/yob1897.txt
names/yob1898.txt
names/yob1899.txt
names/yob1900.txt
names/yob1901.txt
names/yob1902.txt
names/yob1903.txt
names/yob1904.txt
names/yob1905.txt
names/yob1906.txt
names/yob1907.txt
names/yob1908.txt
names/yob1909.txt
names/yob1910.txt
names/yob1911.txt
names/yob1912.txt
names/yob1913.txt
names/yob1914.txt
names/yob1915.txt
names/yob1916.txt
names/yob1917.txt
names/yob1918.txt
names/yob1919.txt
names/yob1920.txt
names/yob1921.txt
names/yob1922.txt
names/yob1923.txt
names/yob1924.txt
names/yob1925.txt
names/yob1926.txt
names/yob1927.txt
names/yob1928.txt
names/yob1929.txt
names/yob1930.txt
names/yob1931.txt
names/yob1932.txt
names/yob1933.txt
names/yob1934.txt
names/yob1935.txt
names/yob1936.txt
names/yob1937.txt
names/yob1938.txt
names/yob1939.txt
names/yob1940.txt
names/yob1941.txt
names/yob1942.txt
names/yob1943.txt
names/yob1944.txt
names/yob1945.txt
names/yob1946.txt
names/yob1947.txt
names/yob1948.txt
names/yob1949.txt
names/yob1950.txt
names/yob1951.txt
names/yob1952.txt
names/yob1953.txt
names/yob1954.txt
names/yob1955.txt
names/yob1956.txt
names/yob1957.txt
names/yob1958.txt
names/yob1959.txt
names/yob1960.txt
names/yob1961.txt
names/yob1962.txt
names/yob1963.txt
names/yob1964.txt
names/yob1965.txt
names/yob1966.txt
names/yob1967.txt
names/yob1968.txt
names/yob1969.txt
names/yob1970.txt
names/yob1971.txt
names/yob1972.txt
names/yob1973.txt
names/yob1974.txt
names/yob1975.txt
names/yob1976.txt
names/yob1977.txt
names/yob1978.txt
names/yob1979.txt
names/yob1980.txt
names/yob1981.txt
names/yob1982.txt
names/yob1983.txt
names/yob1984.txt
names/yob1985.txt
names/yob1986.txt
names/yob1987.txt
names/yob1988.txt
names/yob1989.txt
names/yob1990.txt
names/yob1991.txt
names/yob1992.txt
names/yob1993.txt
names/yob1994.txt
names/yob1995.txt
names/yob1996.txt
names/yob1997.txt
names/yob1998.txt
names/yob1999.txt
names/yob2000.txt
names/yob2001.txt
names/yob2002.txt
names/yob2003.txt
names/yob2004.txt
names/yob2005.txt
names/yob2006.txt
names/yob2007.txt
names/yob2008.txt
names/yob2009.txt
names/yob2010.txt
names/yob2011.txt
names/yob2012.txt
names/yob2013.txt
names/yob2014.txt
names/yob2015.txt
names/yob2016.txt
names/yob2017.txt
names/yob2018.txt
names/yob2019.txt
names/yob2020.txt
names/yob2021.txt
names/yob2022.txt
.ipynb_checkpoints/cap2_national-checkpoint.ipynb
.ipynb_checkpoints/cap3_trends-checkpoint.ipynb
.ipynb_checkpoints/cap4_prophet-checkpoint.ipynb
names.zip
namesbystate.zip
__pycache__/data_loader.cpython-310.pyc
.DS_Store
compare_errors_2x10.csv
compare_granger_100x10.csv
compare_granger_2x10.csv
compare_errors_100x10.csv
compare_ccf_100x10.csv
compare_ccf_2x10.csv
Jolette.csv
sample.csv
temp.csv
temp2024mar11.csv
capstone_venv/
capstone_venv/*
imdb/
imdb/*
names/
names/*
namesbystate/
namesbystate/*
__pycache__/
__pycache__/*
